@import './variables.css';


.svg-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.svg-button svg {
  fill: #b9b0b0; /* Changed from #8400ffa8 to black */
  width: 50px;
  height: 50px;
}

.svg-button:hover svg {
  fill: #ffffff; /* Change the color on hover */
}

.header-link-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-right: 100px;
  margin-top: 20px;
}

.header-link-button svg {
  fill: var(--bright); /* You can change the SVG color here */
  height: 30px;
}

.header-link-button:hover svg {
  fill: #ffffff; /* Change the color on hover */
}

.login-button {
  display: flex;
  align-items: center; /* Vertically center the SVG within the button */
  justify-content: center;
  background: none;
  cursor: pointer;
}

.login-button svg {
  fill: #ffffffa8; /* You can change the SVG color here */
  width: 30px;
  height: 30px;
}

.login-button:hover svg {
  fill: #ffffff; /* Change the color on hover */
}
