
@import url('./variables.css');

.entry-food-name {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 27px;
  order: -1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  font-family: Inconsolata;
}

.entry-food-amt {
  display: block;
  padding-left: 60px;
  justify-content: flex-end;
  align-items: center;
  order: 1;
  font-family: Inconsolata;
}

.entry-date {
  display: block;
  padding-right: 27px;
  padding-left: 27px;
  justify-content: flex-end;
  align-items: center;
  order: 1;
  font-family: Inconsolata;
}

.log-bubble {
  display: flex;
  width: 500px;
  margin-top: 20px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  background-color: #19050584;
  color: var(--white);
}

.log-bubble:hover {
  display: flex;
  width: 500px;
  margin-top: 20px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  background-color: #ffffffa1;
  color: #1e002e;
}

.log-list{
  list-style-type: none;
}

